<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义输出到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义输出到文件 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/logfile.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- 设置MyBatis的Logger -->
    <logger name="org.apache.ibatis" level="DEBUG"/>
</configuration>
